@import url('fonts.css');

:root {
    --sidebar-background-color: #590CBA;
    /* --sidebar-background-color: #210446; */
    --sidebar-text-color: #FFFFFF;
    --code-background-color: #210446;
    --code-text-color: #FFFFFF;

    --toc-width: 230px;
}  

div.codesample {
    background-color: var(--code-background-color);
    color: var(--code-text-color);
    padding: 5px;
}

div.codesample pre {
    white-space: pre-wrap;
}

div.article {
    float: right;
    width: calc(100% - var(--toc-width) - 50px);
}

div.table-of-contents {
    float: left;
    width: var(--toc-width);
    position:fixed;
    background-color: var(--sidebar-background-color);
    color: var(--sidebar-text-color);
    height: 100%;
    padding: 20px;
}

@media screen and (max-width: 600px) {
    div.table-of-contents {
      width: calc(100% - 20px);
      position:relative;
      height: fit-content;
    }
    
    div.article {
        clear: both;
        width: 100%;
    }
  }

.headings-container li {
    list-style-type: none;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    padding-top: .5em;
    padding-bottom: .5em;
}


.table-of-contents a {
    color: var(--sidebar-text-color);
    text-decoration: none;
}

.attribution {
    font-style: italic;
}

img {
    max-width: 600px;
    width: 100%;
}

figcaption {
    font-style: italic;
}
